# Kernel Security Configuration
# ==============

CONFIG_RANDOM_KMALLOC_CACHES=y
# CONFIG_SLAB_MERGE_DEFAULT is not set
CONFIG_SLAB_FREELIST_HARDENED=y
CONFIG_SLAB_FREELIST_RANDOM=y
CONFIG_SHUFFLE_PAGE_ALLOCATOR=y
CONFIG_FORTIFY_SOURCE=y
CONFIG_SECURITY_LOCKDOWN_LSM=y
CONFIG_SECURITY_LOCKDOWN_LSM_EARLY=y
CONFIG_KFENCE=y
CONFIG_KFENCE_SAMPLE_INTERVAL=0
CONFIG_HARDENED_USERCOPY=y
CONFIG_MODULE_SIG=y
CONFIG_MODULE_SIG_ALL=y
CONFIG_MODULE_SIG_SHA512=y
CONFIG_LIST_HARDENED=y
CONFIG_DEFAULT_MMAP_MIN_ADDR=65536
CONFIG_SECURITY_YAMA=y
CONFIG_SECURITY_LANDLOCK=y
CONFIG_SECURITY_DMESG_RESTRICT=y
CONFIG_TRIM_UNUSED_KSYMS=y
CONFIG_PROC_MEM_NO_FORCE=y
# CONFIG_DEVMEM is not set
